
.testimonials {
 width: 100%;
position: relative;
}

.slider ul{
 display: flex;
 width: 200%;
 overflow-x: hidden;
 transition: 0.5s;
}

.slider li {
    list-style: none;
    width: 18%;
    padding: 30px;
} 

.user-info h3{
 color: #bd940c;
 margin-left:40px ;
}

.user-info p{
text-align: center;
}

.cheo{
margin-left:70px ;
color: rgba(73, 72, 70, 0.596);
}

.fpct-leadership {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    text-align: center !important;
  }
  
  

.fpct-leadership h1{
    text-align: center;
    background-color: #081F54;
    color: #b57d0e;
    padding: 40px 10px;
    width: 100%; 
}

.fpct-askofu{
    align-items: center;
    justify-content: center;
}

.askofu-slider{
    align-items: center;
    justify-content:center ;
}

.askofu-info{
    margin-top: 40px;
 color: #bd940c;

}

.askofu-para{
width: 50%;
align-items: center;
justify-content: center;
margin-left: 30%;
}

ul{
list-style: none;

}


 