.footer {
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(255, 255, 255);
    background-color: rgb(37, 19, 174);
    height: 30vh;

}

.footer ul li{
    list-style: none;
    display: inline-block;
    margin-top: 1px;
    margin-left: 100px;
    margin-right: 100px;
    position: absolute;
    
}
